
/*-------------------------------------------  general -------------------------------------------------------*/
body{
	font-size: 62.5%;
	font-family: 'Raleway', helvetica, arial, sans-serif;
	color:#545257; /*changes color of the whole text*/
	margin-top: 0;
	background-image: url(../img/beach.jpg); /* src = http://wall.alphacoders.com/big.php?i=407490 */
	background-size: 100% 100%;
	background-repeat: no-repeat;
}
#wrapper{
	background-color: #eaeaea;
	opacity: .95;
	width:960px;
	margin: 0 auto;
	padding-left: 1%;
	padding-right: 1%;
	-webkit-box-shadow: 0px 0px 5px #ececec;
	-moz-box-shadow:    0px 0px 5px #ececec;
	box-shadow:         0px 0px 5px #ececec;

}
/*-------------------------------------------  header -------------------------------------------------------*/

h1{
	margin-top: 20px;
	padding-top: 50px;
	text-align: center;
	font-size: 5em;

}
h2{
	margin-top: 20px;
	font-size: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
    background-color: #789ED6;
	padding: 15px;
	border-radius: 5px;
}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
	margin: 0 2% 0 2%;
	background: #f7f7f9;  /*changes color of the background of the table*/
	border-collapse: collapse;
	width: 96%;
}

tr{
	display: table-row;
	border-color: inherit;
	text-align: center;
}

tr:hover{
	background-color: #00B7B1;
    color: #FFFFFF;
}

tr:hover a{
	text-decoration: none;
	font-size: 1.3em;
	color: #FFFFFF;  /*changes color of the links*/
}

tr:hover a:hover{
	text-decoration: underline;
	font-size: 1.3em;
	color: #FFFFFF;  /*changes color of the links*/
}

.odd{
	background: #ececec; /*changes color of the stripes table*/
}
th{
	text-align: center;
	padding: 1em 1em 1em;
	font-weight: bold;
	font-size: 180%;
	color: #545257;  /*changes color of table hd text*/
	background: #bbbcc0; /*changes color of table hd background*/
	text-transform: uppercase;
}
th:first-child{
	border-right: 1px solid #6a7680;
	border-right-style: dashed;
}
td{
	padding: 1em 1em;
	width: 50%;
}
td:first-child{
	border-right: 1px solid #6a7680;
	border-right-style: dashed;
}
/*-------------------------------------------  top section-------------------------------------------------------*/
.main{

	overflow: auto;
	/*border-bottom: 1px solid #bbb8bf;*/
}
.main p{
	margin: 0 0 0 2%;
	width: 60%;
	float: left;
	font-size: 1.4em;
	text-align: justify;
	line-height: 190%;
}
.main figure{
	float: right;
	margin: 15px 2% 0px 0;
	width: 30%;
}
figure img{
	width: 100%;
}

figcaption{
	line-height: 200%;
	text-align: justify;
}
.sec{
	clear: both;
	margin-top: 40px;
	
}

/*-------------------------------------------  links -------------------------------------------------------*/
a{
	text-decoration: none;
	font-size: 1.3em;
	color: #475a80;  /*changes color of the links*/
}
a:hover{
	text-decoration: underline;
}
/*-------------------------------------------  footer-------------------------------------------------------*/
footer{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
}
/* ------------------------------------------- Media Queries -------------------------------------------------------*/


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#wrapper{
			width:98%;
		}	
	}
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {

		#wrapper{
			width:98%;

		}
		.main figure{
			width: 35%;
		}
		.main figure img{
			width: 100%;	
		}
		.main p{
			width: 55%;	
		}
		td{
			width: 50%;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#wrapper{
			width: 95%;
	
		}
		.main, header, h2{
			padding-left: 1%;
			padding-right: 1%;
		}
		.main figure{
			width: 100%;
			float: right;
		}
		.main p{
			margin-left: 0px;
			margin-right: 0px;
			width: 100%;
		}
		.main figure img{
			width: 100%;
		}
		.main figcaption{
			margin-left: 10px;
		}
		td{
			width: 50%;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		#wrapper{
			width: 98%;
			min-width: 480px;
			max-width: 767px;
		}
		.main p{
			width: 100%;
		}
		td{

			width: 50%;
		}
	}
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#wrapper{
			width: 96%;
		}
		figure {
			display: none;
		}
		figcaption{
			display: none;
		}
		.sec{
			margin-top: 10px;
		}
		tr{
			height: 44px;
			line-height: 44px;
		}
		td{
			width: 50%;
			
		}
	}


